<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | DTECHZ </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name"viewport" content="width=device-width">
    <%= render 'layouts/shim' %>
    
  </head>

  <body>
  <header>
  <%= render 'layouts/header' %>


  
  		
  	
  </header>
  <div >
    <%= yield %>
    </div>
  </body>
</html>
